@(tasks: List[Task], taskForm: Form[Task])

@import helper._

@main("Lista de tarefas") {

<p class="text-stroke">@tasks.size() Tarefa(s)</p>

<p class="text-stroke">Tarefas feitas</p>
<table id="box-table-a" summary="Tarefas feitas">
    <thead>
    	<tr>
        	<th scope="col">Nome</th>
            <th scope="col">Projeto</th>
            <th scope="col">Descrição</th>
            <th scope="col">Prioridade</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
    	@for(task <- tasks) {
		@if(task.isDone()) {
    	<tr>
			<td>@task.getLabel()</td>
			<td>@task.getproject()</td>
			<td>@task.getdescription()</td>
			<td>@task.getpriority()</td>
			<td>@form(routes.Application.deleteTask(task.getId())) {
				<input type="submit" class="button" value="Deletar"> } 
			</td>
		 }
		}
        </tr>
        </tbody>
  	</table>
  	
  	
<p class="text-stroke">Tarefas a fazer</p>
<table id="box-table-a" summary="Tarefas a fazer">
    <thead>
    	<tr>
        	<th scope="col">Nome</th>
            <th scope="col">Projeto</th>
            <th scope="col">Descrição</th>
            <th scope="col">Prioridade</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>		
   		@for(task <- tasks) {
		@if(!task.isDone()) {
    	<tr>

			<td>@task.getLabel()</td>
			<td>@task.getproject()</td>
			<td>@task.getdescription()</td>
			<td>@task.getpriority()</td>
			<td>@form(routes.Application.deleteTask(task.getId())) {
				<input type="submit" class="button" value="Deletar"> } 
			</td>
			<td>@form(routes.Application.setTaskDone(task.getId())) {
				<input type="submit" class="button" value="Marcar como feita"> } 
			</td>
			}
		}
        </tr>
        </tbody>
  	</table>

	<p class="text-stroke">Adicione nova tarefa</p>

		<div class="input">
		@form(routes.Application.newTask()) {
		@inputText(taskForm("label"), '_label -> "Título:", '_showConstraints -> false)
		@inputText(taskForm("project"), '_label -> "Projeto:", '_showConstraints -> false) 
		@inputText(taskForm("description"), '_label -> "Descrição:", '_showConstraints -> false) 
		@inputText(taskForm("priority"), '_label -> "Prioridade:", '_showConstraints -> false) 
		<input type="submit" class="button" value="Criar" > 
		</div>

	}

}