body {
    font-weight: lighter;
    text-align: left;
    background: #aabcfe;
    font-family: Verdana;
}


.text-stroke {
-webkit-text-stroke: 1.5px #000000;
-webkit-text-fill-color: #b9c9fe;
font-size: 30px;
font-family: Verdana;
}


#box-table-a
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 15px;
	margin: 45px;
	width: 1000px;
	text-align: left;
	border-collapse: collapse;
}

#box-table-a th
{
	font-size: 17px;
	text-align: center;
	font-weight: normal;
	padding: 8px;
	background: #b9c9fe;
	border-top: 4px solid #aabcfe;
	border-bottom: 1px solid #aabcfe;
	color: #039;
}

#box-table-a td
{
	padding: 8px;
	table-layout:fixed;
	text-align: center;
	background: #e8edff; 
	border-bottom: 1px solid #fff;
	color: #669;
	border-top: 1px solid transparent;
}

#box-table-a tr:hover td
{
	background: #d0dafd;
	color: #339;
}

.button {
color: #000000;
width: 120px;
background: #b9c9fe;
border: 1px solid #000000
}

input
{
color: #000000;
background: #b9c9fe;
border: 1px solid #000000
}


